* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  /* font-family: "Truculenta", sans-serif;
	font-family: "Dancing Script", cursive; */
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  font-size: 0.95rem;
}

button {
  padding: 0.3rem;
  background-color: #265f82;
  border: none;
  color: white;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:disabled {
  background-color: grey;
  transition: background 0.3s ease;
}
button:active {
  background-color: #2a82b9;
  /* -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
				-moz-box-shadow: inset 0px 0px 5px #c1c1c1;
				box-shadow: inset 0px 0px 5px #c1c1c1; */
  outline: none;
}
.button {
  padding: 0;
  background: none;
  outline: none;
}
.button:hover {
  transform: scale(1.05);
}
.button:active {
  background: none;
  transform: scale(1.1);
}

.location-button {
  padding: 0;
  outline: none;
  color: rgb(247, 7, 7);
  background: none;
}
.location-button svg {
  height: 40px;
  width: 25px;
  padding: 0;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

/* Join Page Styles */

.centered-form {
  background: #333744;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: 0px 0px 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 250px;
}

.centered-form button {
  width: 100%;
}

.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}

/* Chat Page Layout */

.chat {
  display: flex;
}

.chat__sidebar {
  height: 100vh;
  color: white;
  background: #333744;
  width: 225px;
  overflow-y: scroll;
}

/* Chat styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat__messages {
  flex-grow: 1;
  flex-direction: column;
  padding: 24px 35px 0 35px;
  overflow-y: scroll;
}

.heading {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
  float: left;
  clear: both;
  background-color: #000;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
  color: green;
}

.message__meta {
  color: rgb(145, 145, 145);
  font-size: 14px;
}

.message a {
  color: #0070cc;
}

.message-sender {
  float: right;
  clear: both;
  background-color: peachpuff;
  color: black;
}

/* Message Composition Styles */

.compose {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}

.compose form {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.compose input {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
}

/* Chat Sidebar Styles */
.sidebar {
  padding: 10px;
}
.room-title {
  font-weight: 400;
  font-size: 20px;
  background: #333744;
  padding: 24px 0px;
}
.room-title span {
  padding: 15px;
  background: #1d1f26;
  border-radius: 10px;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 12px 24px 12px 24px;
  background: #1d1f26;
  border-radius: 10px;
}

.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 10px 24px;
  background: #1d1f26;
  border-radius: 10px;
}

.user-names {
  padding: 1px 0;
}

/* Leave room button */
.leave-room {
  margin-top: 20px;
}
.leave-room a {
  padding: 5px;
  background: rgb(224, 36, 36);
  color: rgb(238, 228, 228);
  float: left;
  font-size: smaller;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
.leave-room svg {
  margin-left: 4px;
  float: right;
  height: 20px;
  width: 18px;
}

.menu {
  display: none;
}

@media screen and (max-width: 800px) {
  .button {
    transform: scale(0.7);
  }
  .compose form {
    margin-right: -10px;
  }
  .mobile-menu {
    position: relative;
  }
  .chat__sidebar {
    top: 10%;
    height: auto;
    padding: 20px 5px;
    border-bottom-right-radius: 25px;
    padding: 2px;
  }
  .chat__main {
    height: 85vh;
  }
  .chat__messages {
    padding-top: 100px;
  }
  .compose {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .menu {
    padding: 20px 10px;
    display: flex;
    background: #2c2f3a;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
  }
  .menu h3 {
    color: #f7f7fa;
    font-size: 30px;
  }
  .menu-button {
    outline: none;
    padding: 5px 7px;
    background: #eeeeee;
    border-radius: 50%;
  }
  .menu-button svg {
    height: 35px;
    width: 35px;
    color: #1d1f26;
  }
  .paratoggle {
    display: none;
    position: absolute;
    box-shadow: #1d1f26;
  }
  .room-title {
    font-weight: 400;
    font-size: 20px;
    background: #333744;
    padding: 24px 0px;
  }
}
